*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7dbfd;
}

.navbar {
    background: linear-gradient(to right, #FFF7AD, #FFBAF0);
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-around;
  }

  ul{
    display: flex;
    gap: 20px;
    list-style: none;
  }

